/*
Primary Colors
- Dark Blue (main - header, footer and search bar): #1F3D69
- Light Pink (secondary - logo and hover): #E7788D

Neutral
- Very dark blue (dark - dark text): #041422
- White (light - light text): #F5F5F5

font-family: 'Rowdies', cursive; weight: 400
font-family: 'Ubuntu', sans-serif; weight: 400, 500, 700
*/

:root {
    --main: #1F3D69;
    --secondary: #E7788D;
    --light: #F5F5F5;
    --dark: #041422;
    --normal-light: #B9B995;
    --normal-dark: #A8A77A;
    --fire-light: #F19A59;
    --fire-dark: #EE8130;
    --water-light: #82A6F3;
    --water-dark: #6390F0;
    --electric-light: #F9D956;
    --electric-dark: #F7D02C;
    --plant-light: #95D270;
    --plant-dark: #7AC74C;
    --ice-light: #ABE1DE;
    --ice-dark: #96D9D6;
    --fight-light: #CE5853;
    --fight-dark: #C22E28;
    --poison-light: #B565B4;
    --poison-dark: #A33EA1;
    --ground-light: #E8CC84;
    --ground-dark: #E2BF65;
    --flying-light: #BAA5F5;
    --flying-dark: #A98FF3;
    --psychic-light: #FA779F;
    --psychic-dark: #F95587;
    --bug-light: #B8C748;
    --bug-dark: #A6B91A;
    --rock-light: #C5B45E;
    --rock-dark: #B6A136;
    --ghost-light: #8F79AC;
    --ghost-dark: #735797;
    --dragon-light: #8C5DFD;
    --dragon-dark: #6F35FC;
    --text: 'Ubuntu', sans-serif;
    --headings: 'Rowdies', cursive;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: var(--text);
    color: var(--dark);
}

input, button, textarea, select {
    font: inherit;
}

h1 {
    font-size: 2.75em;
}

h2 {
    font-size: 1.8em;
}

p {
    font-size: 1em;
}

@media only screen and (min-width: 1024px) {
    h1 {
        font-size: 4em;
    }
    
    h2 {
        font-size: 2.25em;
    }
    
    p {
        font-size: 1.3em;
    }
}

/* Header */
header {
    width: 100%;
    background-color: var(--main);
    color: var(--light);
    display: flex;
    align-items: center;
    column-gap: 0.94rem;
    padding: 0.8rem;
    text-align: center;
}

.header--img {
    height: 2.8rem;
    margin-left: 0.5rem;
}

@media only screen and (min-width: 1024px) {
    header {
        text-align: left;
    }
}

/* Search section */
.search--title {
    text-align: center;
    margin: 2rem;
}

/* Search Bar */
.container{
    display: flex;
    justify-content: center ;
    align-items: center;
}
.search-container {
    position: relative;
}
.search-input {
    position:-ms-page;
    padding: 23px;
    font-size: 18px;
    background-color: var(--main);
    border-radius: 15px;
    width: 759px;
    font: inherit;
}
.search-img{
    position: absolute;
    top: 0px;
    left: 0px;
    border: var(--main);
    padding: 23px;
    cursor: pointer;
} 
.search-icon{
    position: absolute;
    width: 23px;
    height: 23px;
}

/* Card */
.tarjetas{
    padding-top: 15px;
    padding-bottom: 30px;
    width: 270px;
    height: 520px;
    border-radius: 25px;
    background-color: #95D270;
    margin: 1.5rem;
}

.tarjetas p{
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 27px;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 700;
}

.tipo{
    background-color:#7AC74C;
}

.tipo1{
    color: #F5F5F5;
    background-color: #A33EA1;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.tarjetas img{
    width: 270px;
    height: 270px;
}

/* Horizontal Scrollbar */
.horizontal-scrollbar{
    width: 1300px;
    overflow: auto;
    border: 1px var(--light);
    background-color: var(--light);
    padding: 8px;
} 
.horizontal-scrollbar::-webkit-scrollbar {
    -webkit-appearance: none;
}

.horizontal-scrollbar::-webkit-scrollbar:vertical {
    width:10px;
}

.horizontal-scrollbar::-webkit-scrollbar-button:increment,.horizontal-scrollbar::-webkit-scrollbar-button {
    display: none;
} 

.horizontal-scrollbar::-webkit-scrollbar:horizontal {
    height: 14px;
}

.horizontal-scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--main);
    border-radius: 20px;
    border: 2px solid var(--light);
}

.horizontal-scrollbar::-webkit-scrollbar-track {
    border-radius: 10px;  
}

/* Footer */
.footer-content{
    width: 100%;
    background-color: var(--main);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.footer-content h2{
    font-family: var(--headings);
    color: var(--light);
}

.bxl-github {
    color: var(--light);
    font-size: 25px;
    margin-right:2px;
}

.socials a{
    color: var(--light);
}

ul{
    display: flex;
    list-style: none;
    column-gap: 20px;
    align-items: center;
}

.socials li:hover a, li:hover i{
    color: var(--secondary)
}